.square-style{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 13%;
} 

li, a{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #000000;
    text-decoration: none;
}

p{
    font-family: 'Roboto', sans-serif;
}

.inp-descript{
    width: 490px;
    height: 40px;
    border-color: #50b6cf;
    border-radius: 7px;
}

.btn-add{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #ffffff;
    border: none;
    width: 145px;
    height: 40px;
    background-color: #50b6cf;
    border-radius: 11px;
}
