.menu{
    display: flex;
    flex-direction: row;
}

.img-logo{
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.ul_menu{
    margin: auto;
    margin-bottom: 60px;
    padding-right: 600px;
}

li, a{
    display: inline;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #000000;
    text-decoration: none;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.ul_sub-menu{
   display: flex;
   align-items: center;
   margin-bottom: 50px;
}

.descript{
    padding: 20px;
}

.color{
    padding: 20px;
}

.inp-descript{
    width: 490px;
    height: 40px;
    border-color: #50b6cf;
    border-radius: 7px;
}

.square-style{
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.btn-add{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #ffffff;
    border: none;
    width: 145px;
    height: 40px;
    background-color: #50b6cf;
    border-radius: 11px;
    cursor: pointer;
    margin-left: 14px;
}

main{
    margin-left: 20px;
}

.card-style {
    width: 200px;
    height: 200px;
    display: inline;
    margin-bottom: 30px;
}

.card-style header{
    display: flex;
    background-color: #b8ff99;
    
}

.card-style header p{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #2b5a07;
    margin-top: 3px;
    margin-left: 5px;
}

.card-style footer{
    display: flex;
    justify-content: end;
    margin-top: 125px;
}

.card-style footer img{
   margin-left: 5px;
}
.card-style .card-content{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.card-style main .card-content{
    margin-top: 15px;
}

.card-style .card1 .card-content{
    color:  #19b5dc;
    text-decoration: line-through;
}

.card-style .card2 .card-content{
    color:  #58a51d;
    text-decoration: line-through;
}

.task-add{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
}

#btn-add{
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task-add p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: bold;
    color: #19b5dc;
    padding-left: 8px;
}
